body{
   background-color:#ADD8E6; 
}

.container{
    width:17.5%;
    height:350px;
    background-color: White;
    border-radius: 20px;
    position:relative;
    margin:115px auto;
    text-align: center;
    padding:15px;
}

.QR{
    
    width:98%;
    height:35vh;
    position:relative;
    border-radius:10px;
}

h3{
    width:90%;
    margin:auto;
    padding:10px 0;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;

}

.main{
    width:90%;
    margin:auto;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.75rem;
}